.bg-slider-first{
    background-image: url("./assets/Rectangle\ 6.png");
}
.bg-slider-2{
    background-image: url("./assets/Rectangle\ 226.png");
}
.bg-slider-3{
    background-image: url("./assets/Rectangle\ 227.png");
}